html {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
}
.white {
  color: white;
}
.bg {
  background-color: #e04249;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 20vh;
  float: left;
  border-bottom-left-radius: 50%;
 box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);

}

.bg2 {
  background-color: #e04249;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 15vh;
  float: left;
  border-top-right-radius: 50%;
 box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);

}
.subtitle1 {
  font-size: 0.9em;
  color: #666;
}

nav {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
}
.subtitle {
  font-size: 0.5em;
  letter-spacing: 2px;
  margin-top: -0.5em;
}
nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  margin-right: 20px;
  font-weight: bold;
}

ul .left {
  float: left;
  width: auto;
  text-align: center;
  font-family: "Vibes", cursive;
}

.brand {
  font-size: 1.5em;
}

ul .right {
  float: right;
}

li .red {
  color: #e04249;
}
li a {
  text-decoration: none;
  color: #4f4f51;
}

.main {
  text-align: center;
}
.main h1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;

  font-family: "Trebuchet MS", sans-serif;
}

.btn1 {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  background: #e04249;
  border: none;
  border: 1px solid #e04249;
  cursor: pointer;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}
.btn3 {
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  color: #e04249;
  border: none;
  cursor: pointer;
  background: white;
  border: 1px solid #e04249;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}
.btn3 a {
  color: #e04249;
  line-height: 25px;
}
.btn1 a {
  color: white;
}
.btn2 {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  color: #e04249;
  border: none;
  background: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.75);
}

.btn2 a {
  color: #e04249;
}
.btn2:hover {
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}
.btn1:hover {
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

/*form styles*/

.form-style {
  max-width: 50%;
  margin: 50px auto;
  background: #fff;
  border-radius: 2px;
  margin-top: 13vh;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
}

.form-style ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-style li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #b9b9b9;
  font-size: 14px;
  overflow: hidden;
  font-family: "Trebuchet MS", sans-serif;
}
.form-style input[type="text"],
.form-style input[type="password"],
.form-style textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
}
.form-style textarea {
  height: 60vh;
  resize: none;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
.flink {
  float: left;
  text-decoration: none;
  color: #e04249;
}

.bright {
  float: right;
}
